table {
    border-collapse: collapse;
    width: 92%;
    margin: auto;
     
    
  }
  
  td, th {
    border: 1px solid #999;
  width: 5%;
    text-align: left;
    padding: 5px;

  }
  table.table-class td {
    height: 20%;
    overflow: hidden;
  }
  td:first-child{
    width:12%;
  }
  td:first-child+td{
    width:6%;
  }
  td:first-child+td+td+td+td+td{
    width:20%;
  }
    

    