
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,300;1,700&display=swap');
body{
    background-color: white;
    font-family: 'Lato', sans-serif;
    overflow-x:auto;
    
}
h1,h2,h3,h4{
    color: #16262E;
}
h8{
    text-align: center;
    clear: both;
}
h9{
    text-align: center;
}
.bottom{
    border-left: 1px solid;
    background-color:#109648;
    border-top: 1px solid;

}
.bottom.nije-prisutan{
    background-color: #E71D36 ;
}
.first-column{
    border-left: none !important;
}
 
.table-class {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    height: fit-content;
    background-color: white;
    overflow-x:auto;
  }
 
 .table-class td, th {
    border: 1px solid black;
    width:5%;
    text-align: left; 
    overflow: hidden;
    font-size: small;
     min-width: 50px;

  }
  .table-class th{
    font-size: 1.6em;
    line-height: 1;
    
  }
  .table-class th:first-child,  .table-class th:first-child+th{
    text-align: center;

  }
  .table-class tr{
   height: 50px;
    overflow: hidden;
  line-height: 5;

  }
 
  .table-class td:first-child{
    width:10%;
    vertical-align: top;
  
  }
  .table-class td:first-child+td{
    width:6%;
  }
  .table-class td:first-child+td+td+td+td+td{
    width:12%;
  }
 
  .grid-container{

    display: grid;
  grid-template-columns: repeat(5,10%);
  
  height: 100%;
  }
  .grid-container>div{
 
    height:5%;
    gap: 30px;
  }
    
#trenutna-sedmica td{
    width: 20%;
    border: 1px solid black;
    padding: 4%;
}
#trenutna-sedmica tr{
    height: 50%;
    border: 1px solid black;
    line-height: 0 !important;
}

#trenutna-sedmica {
    width: 100%;
     border-collapse: collapse;
}
.trenutna{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 50% 50%;
    min-width: 100px;
    

    
}
.trenutna>div{

    box-sizing: content-box;
    height: 100%;
    width: 100%;
    line-height: 0;
}
.upper{
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}
.zadnja{
    width:25%;
  }

  @media  (max-width: 900px) {
     body{
        overflow-x: scroll;
      
     }
  }
    